body {
  background-color: rgb(39, 39, 39);
}


#top {
  background-color: rgb(19, 19, 19);
  border-style: hidden;
  height: 80px;
  width:100%;
  display: flex; 
  justify-content: space-around;
  border-radius: 5px;
}

#gameTitle {
  color: white;
  position: absolute;
  font-size: 30px;
  top:7px;
  left:620px;
  font-family: "Lucida Console", Courier, monospace;
}

#play {
  position: absolute;
  top:25px;
  left:400px;
}

#about {
  position: absolute;
  top:25px;
  left:1050px;
}

#Heading {
    background-color:rgb(19, 19, 19);
    border-style: solid;
    height: 10%;
    top: 20px;
    width:100%;
    display: flex; 
    justify-content: space-around;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

#AboutGame {
  color: white;
    background-color: rgb(19, 19, 19);
    width: 600px;
    top: 50px;
    width: 100%;
    border-style: hidden;
    height: 150px;
    font-size: large;
    height: 600px;
}

#AboutGroup {
  color: white;
    background-color:rgb(19, 19, 19);
    top: 50px;
    height: 490px;
    font-size: large;

}

#AboutCode {
    background-color: rgb(19, 19, 19);
    color: white;
    top: 80px;
    font-size: large;
    font-family: "Lucida Console", Courier, monospace;
}

.button{
    background-color: rgb(255, 255, 255); 
    padding: 15px;
    border-style: hidden;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    font-family: "Lucida Console", Courier, monospace;
  }

  #text1{
    padding: 20px;
    font-size: 15px;
    font-family: "Lucida Console", Courier, monospace;
  }