<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="About.css">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src = "about.js"> </script>
    </head>

    <body>
        <div id="top">
            <p id= "gameTitle">Dystopian Rush  </p>
            <button id = "play" class="button">Play</button>
            <button id = "about" class="button">About</button>
        </div>

        <div id="AboutGame">
            <p id = "text1">Dystopian Rush is an arcade survival game requiring you to dodge incoming obstacles in an post-apocalyptic world. 
                The obstacles in our game are rocks. Rocks are falling from the sky and we have to stay alive for as long as possible.
                 The rocks will come in more often and faster as time goes by. If the rocks comes into contact with you, its GAME OVER! 
                 You can use the arrow keys or the A/D keys to move sideways and evade the plummetting rocks. 
                 The longer you survive the more points you will score and the top 10 highest scores will be displayed on a leaderboard.
                 So Try your best to get your name on that leaderboard! <br><br>
            
                 Show us your skills of dodging all the rocks for as long as long as possible. <br><br><br>
            
                This Game was made for the F28WP coursework in HWUD, year 2020-2021. The game development crew are as follows: 
                <br>Aazim Faiz
                <br> Zein Said
                <br>Tahnoun Shareef
                <br>Lahenshah K
                <br>Faheen Niyas <br><br><br>
            
                Credits (All materials used under Fair Use): <br> 
                Music: <br>
                &emsp; Lorn - The Gun <br>
                &emsp; Dance With The Dead - Diabolic & Get Out <br>
                &emsp; Carpenter Brut - Turbo Killer & Roller Mobster <br>
                &emsp;  Waveshaper - 66 Mhz <br> <br>
                Art: <br>
                &emsp; Robot Alleyway by Kirokaze <br>
                &emsp; Blue Balcony by Kirokaze <br>
                &emsp; Freaking Meatbags, Robot artwork by Robert <br>
            </p>
        </div>
    </body>
      

    <footer>
        <div id="AboutCode">
            <i>This game was made using JavaScript, HTML and CSS.
            </i>
        </div>
    </footer>

</html>