/* The top division */
#top {
  background-color: rgb(19, 19, 19);
  border-style: hidden;
  height: 80px;
  width:100%;
  display: flex; 
  justify-content: space-around;
  border-radius: 5px;
}

/* The game title */
#gameTitle {
  color: white;
  position: absolute;
  font-size: 30px;
  top:7px;
  left:620px;
  font-family: "Lucida Console", Courier, monospace;
}

/* The play buttom */
#play {
  position: absolute;
  top:25px;
  left:400px;
}

/* The about button*/
#about {
  position: absolute;
  top:25px;
  left:1050px;
}

/* Resize the game window */
#gameWindow {
  width: 1100px;
  position: relative;
  left: 180px;
  height: 550px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  
}

/* General classes for buttons  */
.button{
  background-color: rgb(255, 255, 255); 
  padding: 15px;
  border-style: hidden;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  border-radius: 5px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Set body color */
body {
  background-color: rgb(39, 39, 39);
}

/* Sets background values and image */
#map {
  background-image: url("../Images/bg1.gif");
  height: 600px;
  width: 1050px; 
}

/* Player css values */
#player {
  position: absolute;
  left: 100px;
  width: 94px;
  height: 120px
}

/* Form for username submission */
#nameEnter {
  margin-left: 25%;
  margin-right:25%;
  margin-top: 15%;
  margin-bottom:15%;
}

/* Text field in the form */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


/* Form text value */
#fname1 {
  margin-left: 17%;
}

/* Submit button in the form */
#submit {
  margin-left: 40%;
  background-color: #6d6ac4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 250px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  transition: 200ms ease-in-out;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 35%;
  height: 35%;
  font-family: "Lucida Console", Courier, monospace;
} 

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Leaderboard names box */
#LBbox1 {
  color: white;
  padding: 10px 20px;
  position: absolute;
  top: 200px;
  left: 1290px;
  background-color: rgb(19, 19, 19);
  height: 260px;
  width: 170px;
  word-wrap: break-word; 
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Leaderboard scores box */
#LBbox2 {
  color: white;
  padding: 10px 20px;
  position: absolute;
  top: 200px;
  left: 1400px;
  height: 260px;
  width: 90px;
  word-wrap: break-word; 
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Scores field */
#score {
  text-align: center;
  position: absolute;
  top:340px;
  left:10px;
  background-color: rgb(19, 19, 19);
  width: 170px;
  height: 100px;
  z-index: 10;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
}

/* Play button within the game container */
#mainPlay {
  background-color: #161616;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  height:50px;
  width:80px;
  font-size: 16px;
  position: absolute;
  top: 250px;
  left: 490px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Song show text value */
#song{
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 495px;
  left:10px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Death Message values */
#deathMessage{
  font-size: 40px;
  color: white;
  position: absolute;
  top: 120px;
  left: 430px;
  font-family: "Lucida Console", Courier, monospace;
}