#Title {
  background-color: rgb(189, 218, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  height: 100%;
  width:100%;
  display: flex; 
  justify-content: space-around;
  border-radius: 10px;
  
}

#gameWindow {
  width: 1100px;
  position: relative;
  left: 180px;
  height: 550px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  
}

#foot
{
  border-style: hidden;
  background-color: rgb(255, 210, 248);
  height: 50px;
  border-radius: 10px;
}

.button{
  background-color: rgb(255, 255, 255); 
  padding: 15px;
  border-style: hidden;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  border-radius: 5px;

}

#container {
  background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
}

#map {
  background-color: #ffebeb;
  height: 600px;
  width: 1050px; 
  
}


#player {
  position: absolute;
  left: 100px;
  /*top: 240px;*/
  width: 40px;
  height: 120px
}


#nameEnter {
  margin-left: 25%;
  margin-right:25%;
  margin-top: 15%;
  margin-bottom:15%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#submit {
  margin-left: 40%;
}

#fname1 {
  margin-left: 22%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transition: 200ms ease-in-out;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 35%;
  height: 35%;
} 

#LBtable {
  display: flex;
  top: 160px;
  left: 1330px;
  position: absolute;
  border-spacing: 15px 50px;
  width: 40px;
}

#LBbox {
  padding: 10px 20px;
  position: absolute;
  top: 130px;
  left: 1290px;
  background-color: rgb(255, 254, 169);
  height: 500px;
  width: 180px;
}

